form {
   
    text-align: center;
   
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right:5px;
    padding-top:10px;
    margin:5px;

    
}
header {
    text-align: right;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right:30px;
    padding-top:10px;
    margin:15px;
    margin-top: 5px;
    
}

.centr {
    text-align: center;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right:5px;
    padding-top:150px;
    margin:5px;
    font-size: 120px;
    font-style: normal;
      
}
.blue{
    color: blue;
}
.red{
    color: red;
}
.orange{
    color: orange;
}
.yellow{
    color: yellow;
}
.green{
    color: green;
}
.pink{
    color:crimson ;
}

a {
    text-decoration: none;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right:15px;      
    font-size: 20px;
    font-style: italic;
}
.enter {
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right:15px;
    padding-top:5px;
    margin: 8px;
    border: 1px solid grey;
    font-size: 20px;
    width: 420px;
    height: 50px;
    font-style: italic;
    border-radius: 20px;
      
}
.submit {
    
    font-size: 10px;
    font-style: italic;  
     
}
.input_inside {
    font-size: 15px;
    margin: 15px;
    padding: 15px;
    background-color: rgb(231, 213, 213);
    border-radius: 20px;
    cursor: pointer;
    font-family: arial,sans-serif;
}
input:hover {
    border: solid;
    border-color: rgb(206, 206, 206);
}
.text_image{
    text-align: right;
    padding-right: 350px;
    color: aqua;
    font-size: 20px;
    margin-bottom: 5px;
}